.margin_bottom_small{
	margin-bottom: 0.5rem;
}

.alert-box{
	padding: 0.5rem 1.5rem 0.5rem 0.875rem !important;
}

.background-header-bottom{
	background-image: url("border_header.png");
}

.relative-position-logo{
	position: absolute;
    left: 0.9375rem;
    top: 0px;
    z-index: 1;
}

.title-area{
	background-color: #b897c0!important;
}

.main-menu-round-border-left, .main-menu-round-border-left:hover{
	border-radius: 0px 0px 0px 10px !important;
}

.main-menu-round-border-light, .main-menu-round-border-light:hover{
	border-radius: 0px 0px 10px 0px !important;
}

.top-bar-section-ul li:hover{
	background-color: #b773aa;
}

.no-padding-left-right{
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.top-bar-section ul li a span{
	border-bottom: 2px;
}

.active-page{
	border-bottom: 2px solid #aee3e8 !important;
}

.main-menu-margin-bottom{
	margin-bottom:2.8125rem!important;
}

.main-menu-position-fix{
	position: absolute;
	top:132px;
	max-width: 62.5rem!important;
	width: 100%!important;
	z-index: 1;
}

/* Footer */
#footer{
	background-image: url("footer_background.jpg");
}

/* Index page */
#category_section{
	background-image: url("blue_background.jpg");
}

#history_section{
	background-image: url("purple_background.jpg");
}

#gallery_section{
	background-image: url("gallery_background.jpg");
}

.gallery_item{
	background-image: url("gallery_item_background_1.jpg");
	background-size: auto;
}

.whole-column{
	max-width: 100%!important;
}

.whole-column{
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.no-margin{
	margin: 0px!important;
}

/* Category section */
.padding-top-category{
	padding-top: 1.25rem;
}